
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhpSerializer.com</title>
    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/jsonview/jquery.jsonview.css">
    <link rel="stylesheet" href="assets/highlight/monokai_sublime.css">
    <link rel="stylesheet" href="assets/custom.css">
    <script src="assets/jquery.min.js"></script>
    <script src="assets/bootstrap/bootstrap.min.js"></script>
    <script src="assets/jsonview/jquery.jsonview.js"></script>
    <script src="https://highlightjs.org/static/highlight.pack.js"></script>
    <script>
        $(function() {
            $('.json-output').each(function(){
                $(this).JSONView(JSON.parse($(this).text()));
            });

        });
        hljs.initHighlightingOnLoad();
    </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

{% include 'partials/header.twig' %}


<div class="container">

    <div class="col-md-3">
        <div class="bs-sidebar hidden-print affix well" role="complementary">
            <ul class="nav bs-sidenav">
                <li><a href="#requirements">Requirements</a></li>
                <li><a href="#installation">Installation</a></li>
                <li>
                    <a href="#installation">Serializers</a>
                    <ul>
                        <li><a href="">JSON</a></li>
                        <li><a href="">XML</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#installation">Transformers</a>
                    <ul>
                        <li><a href="">Object to Array</a></li>
                        <li><a href="">Object to Flat Array</a></li>
                        <li><a href="">Object to XML</a></li>
                        <li><a href="">Object to YAML</a></li>
                        <li><a href="">Object to JSON</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#installation">API Transformers</a>
                    <ul>
                        <li><a href="">JSON</a></li>
                        <li><a href="">JSend</a></li>
                        <li><a href="">JSON API 1.0</a></li>
                        <li><a href="">HAL+JSON</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9" role="main">
        {% include 'content.twig' %}
    </div>
</div>

{% include 'partials/footer.twig' %}



</body>
</html>