<footer class="col-md-12 text-center">

<p>Designed and built with all the love in the world by <a href="http://nilportugues.com">Nil Portugués Calderó</a>.</p>
<p>Code licensed under MIT, documentation under CC BY 3.0.</p>

</footer>