<footer class="col-md-12 text-center">
    <hr>

    <p>Copyright &copy; {{ "now"|date("Y") }} <a href="http://phpserializer.com">PhpSerializer</a>. Created by <a href="http://nilportugues.com">Nil Portugués Calderó</a>.</p>

</footer>