{% from 'components/tabs/paneled_tabs/paneled_tabs' import paneled_tabs as paneled_tabs %}




<h2>Mapping Eloquent Models </h2>

<p>As an example, we'll create some data models using Eloquent and map them. We will create 3 models: User, Posts and Comments. </p>

<p>These mappings as all Laravel mappings will live in the <strong>database/migrations</strong> directory. Migration files are as follows:</p>

<h3>Eloquent Migrations</h3>

{% set laravel5_user %}<pre><code class="php">{% include 'pages/migrations/laravel5/user' %}</code></pre>{% endset %}
{% set laravel5_post %}<pre><code class="php">{% include 'pages/migrations/laravel5/posts' %}</code></pre>{% endset %}
{% set laravel5_comments %}<pre><code class="php">{% include 'pages/migrations/laravel5/comments' %}</code></pre>{% endset %}


<div class="row-fluid">
    {{
    paneled_tabs(
    {
        "laravel5_user" : "User",
        "laravel5_post" : "Post",
        "laravel5_comments" : "Comments"
    },
    {

        "laravel5_user" : laravel5_user,
        "laravel5_post" : laravel5_post,
        "laravel5_comments" : laravel5_comments
    },
    "laravel5_user",
    ""
    )
    }}
</div>


<h3>Relating the Eloquent Model</h3>

<p>Due to the nature of our data model, Users, Post and Comments are all related. I will provide the mappings related to each model in its model.</p>

<p>It's is really important to notice that relationships are limited to a max. of 10 elements. This can be any number, but keep in mind the more records you pull from the database the slower your API will be.</p>



{% set laravel5_user_model %}<pre><code class="php">{% include 'pages/models/laravel5/user' %}</code></pre>{% endset %}
{% set laravel5_post_model %}<pre><code class="php">{% include 'pages/models/laravel5/posts' %}</code></pre>{% endset %}
{% set laravel5_comments_model %}<pre><code class="php">{% include 'pages/models/laravel5/comments' %}</code></pre>{% endset %}


<div class="row-fluid">
    {{
    paneled_tabs(
    {
        "laravel5_user_model" : "User Model",
        "laravel5_post_model" : "Post Model",
        "laravel5_comments_model" : "Comments Model"
    },
    {
        "laravel5_user_model" : laravel5_user_model,
        "laravel5_post_model" : laravel5_post_model,
        "laravel5_comments_model" : laravel5_comments_model
    },
    "laravel5_user_model",
    ""
    )
    }}
</div>