{% extends 'pages/documentation' %}

{%- block title -%}
Object to Array Transformer | PHPSerializer.com
{%- endblock -%}

{%- block content -%}
<h1 id="array">Object to Array Transformer</h1>
<h2>Output</h2>
<pre><code>{% include 'pages/transformers/output/array' %}</code></pre>

{% endblock %}