{% extends 'pages/documentation' %}

{%- block title -%}
    Object to Flat Transformer | PHPSerializer.com
{%- endblock -%}

{%- block content -%}

<h1 id="flat-array">Object to Flat Array Transformer</h1>
<h2>Output</h2>
<pre><code>{% include 'pages/transformers/output/flat_array' %}</code></pre>

{% endblock %}