{% extends 'pages/documentation' %}

{%- block title -%}
    Object to JSON Transformer | PHPSerializer.com
{%- endblock -%}

{%- block content -%}


<h1 id="json">Object to JSON Transformer</h1>
<h2>Output</h2>
<pre><code>{% include 'pages/transformers/output/json' %}</code></pre>

{% endblock %}