<br>
<h3>Unserialize</h3>
<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-sm-2 text-center">
            <i class="fa fa-warning" style="font-size: 84px; display: block; padding:0 6px; opacity: 0.8 "></i>
        </div>
        <div class="col-sm-10">
            <p>Transformers cannot perform <strong>unserialize()</strong> because original data structure is lost during the transformation process.</p>

            <p>If <strong>unserialize()</strong> method is called, an <strong>Exception</strong> will be thrown.</p>
        </div>
    </div>
</div>