{% extends 'pages/documentation' %}

{%- block title -%}
Object to XML Transformer | PHPSerializer.com
{%- endblock -%}

{%- block content -%}
<p>Object to XML transformation is just as simple as passing in the XmlTransformer as a serialization strategy to the DeepCopySerializer just as follows:</p>

<pre><code class="php">{% include 'pages/transformers/xml_transformer' %}</code></pre>


<hr>

<h2>Output</h2>
<h3>Sample object</h3>
Given the following sample code, passing it through the serializer will output a XML with the format shown below.
<pre><code class="php">{% include 'pages/transformers/class_example' %}</code></pre>

<h3>Sample Output</h3>
<pre><code>{% set xmlVar %}{% include 'pages/transformers/output/xml' %}{% endset %}{{ xmlVar|e('html') }}</code></pre>

{% endblock %}
