{% extends 'pages/documentation' %}

{%- block title -%}
    Object to YAML Transformer | PHPSerializer.com
{%- endblock -%}

{%- block content -%}


    <h1 id="yaml">Object to YAML Transformer</h1>

    <h2>Output</h2>
    <pre><code>{% include 'pages/transformers/output/yaml' %}</code></pre>
{% endblock %}