body {
    padding-top: 20px !important;
}

#hero h1
{
    border:0;
    margin-bottom: 16px;
    font-size: 52px;
    font-weight: 600;
    padding-bottom: 24px;

}
#hero
{
    padding-top: 64px;
    background-color: #435595;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 512px;
    display: block;
    overflow: hidden;
    color: white;
}

#hero p
{
    font-size: 26px;
    line-height: 48px;
}
.purple
{
    background-image: linear-gradient(to bottom, rgba(67, 85, 149, 100) 0, rgba(67, 85, 149, 0.8) 100%), url(images/2560x1440.jpg);
    background-position: -100px 0px;
    background-size: 120% auto;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

#hero .btn{
    margin:16px;
    margin-top: 32px;
    width:256px;
    font-size: 30px;
    font-weight: 600;
}
.landing-container
{
    padding-bottom: 64px;
    padding-top: 32px;
    border-bottom: 1px solid #eee;
    min-height:auto !important;
}
.landing-container-last
{
    border-bottom: 0;
}

.landing-container p,
.landing-container li
{
    font-size:18px;
    line-height: 160%;
}

.landing-container h2
{
    font-weight: 600;
}