{
    "data": {
        "type": "user",
        "id": "2",
        "attributes": {
            "username": "Nil Portugués",
            "email": "contact@nilportugues.com",
            "registered_on": "2015-09-07 18:02:18"
        },
        "links": {
            "self": {
                "href": "http://api.example.com/user/2"
            },
            "edit": {
                "href": "http://api.example.com/user/2/edit"
            },
            "last_seen": {
                "href": "http://api.example.com/user/2/edit"
            }
        },
        "relationships": {
            "latest_posts": [
                {
                    "data": {
                        "type": "post",
                        "id": "2"
                    }
                },
                {
                    "data": {
                        "type": "post",
                        "id": "3"
                    }
                },
                {
                    "data": {
                        "type": "post",
                        "id": "4"
                    }
                }
            ],
            "latest_comments": [
                {
                    "data": {
                        "type": "comment",
                        "id": "1"
                    }
                },
                {
                    "data": {
                        "type": "comment",
                        "id": "2"
                    }
                }
            ]
        }
    },
    "included": [
        {
            "type": "post",
            "id": "2",
            "attributes": {
                "created_at": "2015-09-07 18:02:18",
                "updated_at": "2015-09-07 18:02:18",
                "title": "Post 2",
                "slug": "post-2",
                "summary": "<p>\nLorem ipsum luctus lorem condimentum varius sollicitudin aptent odio quisque massa vulputate, convallis curabitur justo aenean et maecenas volutpat hac et. \nCurae felis lorem convallis vel ultricies fames, magna viverra tempus cursus ultricies platea, ante neque etiam cursus sollicitudin. \nEnim arcu interdum imperdiet gravida curabitur viverra, iaculis erat condimentum maecenas. \n</p>",
                "content": "<p>Lorem ipsum convallis ac curae non elit ultrices placerat netus metus feugiat, non conubia fusce porttitor sociosqu diam commodo metus in himenaeos, vitae aptent consequat luctus purus eleifend enim sollicitudin eleifend porta. Malesuada ac class conubia condimentum mauris facilisis conubia quis scelerisque lacinia, tempus nullam felis fusce ac potenti netus ornare semper. Molestie iaculis fermentum ornare curabitur tincidunt imperdiet scelerisque, imperdiet euismod scelerisque torquent curae rhoncus, sollicitudin tortor placerat aptent hac nec. Posuere suscipit sed tortor neque urna hendrerit vehicula duis litora tristique congue nec auctor felis libero, ornare habitasse nec elit felis inceptos tellus inceptos cubilia quis mattis faucibus sem non.</p>\n\n<p>Odio fringilla class aliquam metus ipsum lorem luctus pharetra dictum, vehicula tempus in venenatis gravida ut gravida proin orci, quis sed platea mi quisque hendrerit semper hendrerit. Facilisis ante sapien faucibus ligula commodo vestibulum rutrum pretium, varius sem aliquet himenaeos dolor cursus nunc habitasse, aliquam ut curabitur ipsum luctus ut rutrum. Odio condimentum donec suscipit molestie est etiam sit rutrum dui nostra, sem aliquet conubia nullam sollicitudin rhoncus venenatis vivamus rhoncus netus, risus tortor non mauris turpis eget integer nibh dolor. Commodo venenatis ut molestie semper adipiscing amet cras, class donec sapien malesuada auctor sapien arcu inceptos, aenean consequat metus litora mattis vivamus.</p>\n",
                "seen": "0",
                "active": "1",
                "user_id": "2"
            },
            "links": {
                "self": {
                    "href": "http://api.example.com/post/2"
                }
            }
        },
        {
            "type": "post",
            "id": "3",
            "attributes": {
                "created_at": "2015-09-07 18:02:18",
                "updated_at": "2015-09-07 18:02:18",
                "title": "Post 3",
                "slug": "post-3",
                "summary": "<p>\nLorem ipsum sagittis tempus scelerisque mollis ullamcorper, amet sagittis interdum placerat est duis, eleifend torquent nullam taciti curabitur augue, etiam proin habitant habitasse curae. \nBibendum nullam euismod semper sit nulla sed ipsum sapien sociosqu, quam ultricies dapibus orci nec varius condimentum scelerisque, dapibus curae et pulvinar conubia nullam turpis congue. \n</p>",
                "content": "<p>\nNulla donec enim convallis dapibus taciti nisl inceptos primis mattis morbi, auctor dolor adipiscing justo metus purus nostra scelerisque vestibulum morbi, inceptos quis convallis malesuada porta semper imperdiet habitasse euismod. \nVelit lorem urna ut rutrum integer, lacus orci sollicitudin feugiat ligula ultricies, suscipit pharetra gravida ut. \nAptent sociosqu tristique molestie aliquam accumsan tortor sagittis a, leo eleifend tempor hac porttitor fusce massa, faucibus etiam augue urna etiam interdum ornare. \nPorta potenti placerat per vestibulum consequat quisque class quisque nunc imperdiet ut, leo netus rutrum commodo maecenas nunc commodo dui at ante, sit per elit inceptos tempus proin velit nullam auctor arcu. \n</p>\n<p>\nEt congue dolor conubia a sapien gravida nam bibendum nisi orci sodales, ut congue turpis integer sed rutrum lacinia posuere id vitae. \nEgestas ligula sociosqu sodales taciti urna eros hendrerit morbi massa vehicula quis placerat eros, curae tincidunt malesuada hac ultricies et justo quam sapien interdum nam vivamus. \nEt mi ultricies himenaeos maecenas ad eget magna luctus conubia morbi fusce purus habitant, ligula etiam amet auctor vitae tristique nulla cras curae ut lectus aenean. \nTellus vulputate ultricies augue fusce semper aenean curae taciti, imperdiet nec litora ultrices nibh massa turpis ornare, id adipiscing volutpat curabitur donec integer augue. \n</p>\n<p>\nEtiam feugiat fringilla etiam cubilia turpis elit nam platea porta semper, ligula ornare vivamus scelerisque enim quam turpis velit lectus, laoreet massa ultrices fringilla purus odio fringilla nostra nec. \nLitora laoreet aenean sodales hendrerit ullamcorper in fames, quisque bibendum fringilla euismod tellus luctus, ultricies velit vestibulum congue pretium netus. \nLeo habitant senectus aliquet tempus sollicitudin bibendum, molestie nullam neque elit et. \nFames interdum praesent nunc eleifend aliquam sapien diam ad habitasse, ipsum convallis risus consequat praesent suscipit eros eget. \nDiam bibendum platea sed potenti sit habitasse, fames platea praesent diam gravida, molestie egestas himenaeos est dapibus. \n</p>\n<p>\nSagittis porttitor molestie erat bibendum mattis venenatis orci augue habitant, hac libero etiam lorem congue blandit morbi ornare, cursus congue sollicitudin habitant vulputate est varius ut. \nLigula enim class est aptent donec taciti, habitant facilisis velit vivamus semper tellus, ipsum torquent netus nostra sed. \nLaoreet odio bibendum enim magna per bibendum ligula rutrum litora nibh suscipit, rutrum dolor ultrices vivamus est dui aliquam mattis elementum suspendisse eu viverra, cursus eleifend faucibus porttitor placerat id dictum faucibus hendrerit eu. \nLorem tristique arcu conubia eros ante mauris praesent senectus litora class maecenas, praesent sit urna cras pulvinar adipiscing placerat ad fusce hendrerit, urna volutpat ullamcorper arcu dictum enim aliquet felis duis class. \n</p>\n<p>\nUt quisque auctor viverra risus, neque potenti. \n</p>",
                "seen": "0",
                "active": "1",
                "user_id": "2"
            },
            "links": {
                "self": {
                    "href": "http://api.example.com/post/3"
                }
            }
        },
        {
            "type": "post",
            "id": "4",
            "attributes": {
                "created_at": "2015-09-07 18:02:18",
                "updated_at": "2015-09-07 18:02:18",
                "title": "Post 4",
                "slug": "post-4",
                "summary": "<p>\nLorem ipsum feugiat metus iaculis aliquet cursus ultricies per est, nec egestas nostra fermentum blandit mattis ut ac, lorem id blandit aliquet donec senectus tempor mattis. \nPhasellus arcu semper rutrum ac faucibus arcu viverra, sodales interdum quisque suspendisse arcu mollis, est vivamus duis placerat enim cubilia. \nCommodo hendrerit aptent, viverra. \n</p>",
                "content": "<p>\nLorem ipsum odio commodo scelerisque inceptos aenean donec urna lacinia, turpis aptent torquent nam ipsum ut tristique ligula malesuada, accumsan litora eget dictum nostra aenean risus lacus. \nCras accumsan aliquet vulputate eleifend tincidunt proin elementum fusce class sollicitudin metus erat, pharetra lobortis vel sodales dictum venenatis quisque ultricies bibendum ultricies donec. \nScelerisque facilisis cubilia dictum egestas luctus sem a, pulvinar porttitor vivamus dapibus dui convallis, morbi faucibus luctus massa placerat in. \nMauris venenatis convallis nam fermentum himenaeos nibh vehicula odio eu, est nisi auctor euismod aenean tortor diam quisque donec feugiat, velit risus fusce congue dolor sem class risus. \n</p>\n<p>\nDolor convallis viverra fringilla pretium orci ad pellentesque pulvinar, litora nulla suscipit at in id justo. \nDictum aptent turpis vulputate sollicitudin curabitur quis turpis mi curabitur, odio ante rutrum laoreet facilisis accumsan eros sapien, feugiat gravida rutrum augue lacus dictumst nostra facilisis. \nDui augue blandit purus cras pretium blandit gravida netus placerat donec maecenas integer magna praesent aptent habitant, etiam sollicitudin ut nec velit condimentum interdum pretium ut donec fringilla condimentum eros duis maecenas. \nPlatea mi class condimentum sed felis feugiat mauris nisl ac netus venenatis, habitasse quam vivamus est consequat felis maecenas sagittis quis mi adipiscing, justo class nullam auctor aliquam lacinia hac torquent aliquam quisque. \n</p>\n<p>\nSemper lacinia auctor turpis ultricies fermentum phasellus lacus, donec turpis non nec ante sociosqu euismod habitasse, laoreet euismod cubilia vestibulum etiam eu. \nJusto malesuada fermentum aliquet senectus gravida iaculis orci iaculis ultrices, vestibulum justo praesent justo venenatis praesent malesuada vivamus, turpis ornare donec pharetra bibendum orci pretium lacinia. \nFermentum integer vel dapibus sociosqu nostra malesuada fringilla diam, phasellus aptent tortor primis facilisis magna quam auctor, sapien curabitur praesent facilisis nullam mattis lectus. \nLorem vulputate et nibh facilisis curabitur augue nunc amet donec vestibulum, ac nec etiam quam donec litora arcu egestas bibendum in aenean, justo libero molestie mauris purus cursus aenean class fames. \n</p>\n<p>\nCurabitur condimentum suspendisse netus dictumst amet nunc enim suspendisse class egestas pellentesque dui, magna blandit netus sagittis nisi aliquam est habitasse nisi donec. \nAugue platea metus pretium tempor bibendum cursus venenatis vulputate dolor, ipsum hac lorem aenean aliquam elementum sollicitudin mi molestie inceptos, id imperdiet porttitor quisque sed malesuada augue viverra. \nPlatea tempus ullamcorper quam feugiat justo facilisis himenaeos curae, tincidunt fermentum elit habitasse curae ultrices urna, rhoncus enim ante orci lobortis diam nostra. \nPellentesque neque ultricies iaculis tortor elit mattis nisl urna pharetra dictumst, sed in a commodo condimentum vestibulum est condimentum feugiat, neque praesent augue gravida viverra sodales fusce facilisis praesent. \n</p>\n<p>\nNunc amet torquent turpis dapibus sapien semper velit himenaeos fringilla massa, ut nostra class taciti fringilla enim tortor inceptos conubia vehicula, placerat curae pellentesque potenti aptent arcu gravida mauris quis. \nPulvinar quisque vel aptent ultrices ipsum, sed sapien blandit donec, semper sed posuere fames. \nCondimentum vel venenatis praesent pharetra integer venenatis ligula, sit nec scelerisque torquent aliquam integer metus tincidunt, torquent tincidunt sagittis quisque amet ipsum. \nAliquam consectetur integer accumsan est congue adipiscing ultricies, cursus purus enim turpis eu purus etiam magna, suscipit sollicitudin litora facilisis per id. \n</p>",
                "seen": "0",
                "active": "1",
                "user_id": "2"
            },
            "links": {
                "self": {
                    "href": "http://api.example.com/post/4"
                }
            }
        },
        {
            "type": "comment",
            "id": "1",
            "attributes": {
                "created_at": "2015-09-07 18:02:19",
                "updated_at": "2015-09-07 18:02:19",
                "content": "<p>\nLorem ipsum aenean pretium interdum cursus consectetur elit porta vivamus, arcu viverra ullamcorper primis arcu leo felis potenti erat metus, ipsum augue urna venenatis aenean aliquet eleifend sodales. \nConsectetur praesent adipiscing proin commodo aenean bibendum tempor nunc mi, sem nam donec libero convallis feugiat aenean mauris, orci quisque nec lorem felis consectetur pretium lorem. \nQuam orci nec in vulputate curabitur neque, fringilla proin sagittis condimentum pellentesque ultricies praesent, duis curae neque nam ligula. \nVehicula justo aliquet sem erat scelerisque velit elementum, purus curae duis auctor at bibendum pellentesque commodo, rhoncus mauris enim elit enim tortor. \n</p>\n<p>\nVolutpat dui sagittis risus eleifend scelerisque netus sem rhoncus at ultricies, adipiscing litora cras fames enim volutpat aliquam imperdiet volutpat sit, semper libero fusce sagittis odio volutpat venenatis hendrerit convallis. \nMollis nec pulvinar senectus massa id morbi porttitor, felis odio purus tristique malesuada sollicitudin ornare dictumst, semper duis aenean convallis bibendum suspendisse. \nLaoreet lacus maecenas etiam ut conubia rutrum sed nibh odio, pulvinar molestie convallis duis ad sociosqu fermentum libero, maecenas ante nunc augue lorem velit ultricies id. \nHimenaeos blandit eget ut vestibulum sem imperdiet vel ut aenean, nullam tristique habitant fermentum nisl vivamus ligula vivamus nulla, ligula euismod sodales consectetur potenti suspendisse mi cursus. \n</p>",
                "seen": "0",
                "user_id": "2",
                "post_id": "1"
            },
            "links": {
                "self": {
                    "href": "http://api.example.com/comment/1"
                }
            }
        },
        {
            "type": "comment",
            "id": "2",
            "attributes": {
                "created_at": "2015-09-07 18:02:19",
                "updated_at": "2015-09-07 18:02:19",
                "content": "<p>\nLorem ipsum inceptos vehicula quis aenean vestibulum, viverra at aliquet class non fermentum, amet ligula ac nam viverra. \nLobortis accumsan aenean at condimentum adipiscing torquent suspendisse consectetur, aenean at neque consectetur inceptos euismod eget. \nVestibulum pretium ultricies suscipit cursus amet sit sapien vel phasellus, elit convallis sem volutpat auctor sed curabitur fringilla odio, dui commodo fringilla suspendisse netus malesuada nunc sociosqu. \nLacus quis etiam sociosqu elit pharetra placerat ultrices quisque libero, convallis tempus donec fusce tristique elementum aenean orci consequat, dictumst maecenas feugiat quisque taciti augue senectus vel. \n</p>\n<p>\nSem vitae curabitur amet potenti ad class iaculis, pellentesque feugiat aliquam sapien ultrices eget habitasse posuere, sollicitudin lorem suspendisse pellentesque platea imperdiet. \nFusce mattis vitae potenti quam rutrum dolor nullam eros, pharetra porta at torquent mauris netus gravida curae, pellentesque faucibus eros quisque ornare ac commodo. \nInterdum sodales cras fames platea facilisis eros donec magna, a metus egestas cursus litora conubia ad, conubia elit curabitur velit tristique nibh massa. \nPorta velit rhoncus platea cubilia sollicitudin curabitur purus, viverra venenatis aptent luctus tempus mattis quisque dictumst, curabitur fermentum duis tellus elementum nam. \n</p>\n<p>\nProin malesuada aenean eleifend odio tristique vehicula interdum, nisi per enim porta ipsum ante consectetur, auctor potenti proin aliquam urna fringilla. \n</p>",
                "seen": "0",
                "user_id": "2",
                "post_id": "2"
            },
            "links": {
                "self": {
                    "href": "http://api.example.com/comment/2"
                }
            }
        }
    ],
    "links": {
        "self": {
            "href": "http://api.example.com/user/2"
        },
        "next": {
            "href": "http://api.example.com/user/3"
        },
        "edit": {
            "href": "http://api.example.com/user/2/edit"
        },
        "last_seen": {
            "href": "http://api.example.com/user/2/edit"
        }
    },
    "jsonapi": {
        "version": "1.0"
    }
}