<h2>Symfony 2 Installation</h2>

<h3>Download the bundle</h3>
<p>Open a command console, enter your project directory and execute the following command to download the latest stable version of this bundle:</p>
<pre><code class="bash">$ php composer require nilportugues/jsonapi-bundle</code></pre>


<h3>Enable the bundle</h3>

Then, enable the bundle by adding it to the list of registered bundles in the <strong>app/AppKernel.php</strong> file of your project:

<pre><code class="php">// app/AppKernel.php

class AppKernel extends Kernel
{
    public function registerBundles()
    {
        $bundles = array(
            // ...
            new NilPortugues\Symfony2\JsonApiBundle\NilPortuguesSymfony2JsonApiBundle(),
        );
        // ...
    }
    // ...
}
</code></pre>







<hr>








<h2>Mapping Doctrine Entities</h2>












<hr>



<h2>Doctrine Entities to API Responses</h2>

<p>It is really easy, just get an instance of the JsonApiSerializer from the Service Container and pass the object to its serialize() method. Output will be valid JSON-API.</p>

<p>Finally, a helper trait, JsonApiResponseTrait is provided to write fully compliant responses wrapping the PSR-7 Response objects provided by the original JSON API Transformer library.</p>

<p>Here's an example of a Post object being fetched from a Doctrine repository.</p>

<pre><code class="php">{% include 'pages/output/api/symfony2/jsonapi-controller'  %}</code></pre>


<h3>JsonApiResponseTrait</h3>
<p>The JsonApiResponseTrait is provided to return the right headers and HTTP status codes. Methods available:</p>

<pre><code class="php">{% include 'pages/output/api/jsonapi-trait'  %}</code></pre>


<h3>JSON API Response</h3>
<pre class="json-headers">HTTP/1.1 200 OK
Cache-Control: private, max-age=0, must-revalidate
Content-type: application/vnd.api+json
</pre>

<pre class="json-output">{% include 'pages/output/api/jsonapi'  %}</pre>





<hr>




<h2>Custom API Responses Headers</h2>
<h3>Creating a Response Trait</h3>
<p>It is possible, and a good practice to actually sign your APIs with custom headers, specially for API version. This can be done easily by overwriting the addHeaders method provided JsonApiResponseTrait trait class.</p>
<p>For instance, let's say we want to sign our API with our company name "Acme" and the current version, "2", using both the standard way of doing it and by adding a custom header, as such: </p>

<pre class="json-headers">HTTP/1.1 200 OK
Cache-Control: private, max-age=0, must-revalidate
Content-type: application/vnd.api+json; version=2
X-API: Acme API v2
</pre>

<p>This is how it should be done:</p>

<pre><code class="php">{% include 'pages/output/api/symfony2/jsonapi-controller-trait.twig' %}</code></pre>


<p>Not too hard, right? </p>