
<table>
    <tr>
        <td style="vertical-align: top">Serializer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <ul>
                <li><a href="https://codeload.github.com/nilportugues/serializer/zip/master">Standalone Zip</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">HAL+JSON Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <ul>
                <li><a href="https://codeload.github.com/nilportugues/hal-json-transformer/zip/master">Standalone Zip</a></li>
                <li><a href="https://codeload.github.com/nilportugues/symfony2-hal-json-transformer/zip/master">Symfony 2 Bundle Zip</a></li>
                <li><a href="https://codeload.github.com/nilportugues/laravel5-hal-json-transformer/zip/master">Laravel 5 / Lumen Package Zip</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSON API Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <a href="https://codeload.github.com/nilportugues/jsonapi-transformer/zip/master">Download file</a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSON Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <a href="https://codeload.github.com/nilportugues/json-transformer/zip/master">Download file</a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSend Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <a href="https://codeload.github.com/nilportugues/jsend-transformer/zip/master">Download file</a>
        </td>
    </tr>
</table>

