<table style="width: 100%">
    <tr>
        <td style="vertical-align: top">Serializer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <strong>Standalone</strong>
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/serializer:dev-master</code></pre>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">HAL+JSON Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <strong>Standalone</strong>
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/haljson:dev-master</code></pre>
            <strong>Symfony 2 Bundle</strong>
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/symfony2-haljson:dev-master</code></pre>
            <strong>Laravel 5 / Lumen Package</strong>
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/laravel5-haljson:dev-master</code></pre>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSON API Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/json-api:dev-master</code></pre>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSON Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/json:dev-master</code></pre>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top">JSend Transformer</td>
        <td style="padding-left:4px; padding-bottom: 32px">
            <pre style="margin:12px 0"><code class="bash">$ composer require nilportugues/jsend:dev-master</code></pre>
        </td>
    </tr>
</table>

