{% extends 'docs' %}


{%- block title -%}
    PHPSerializer.com - Documentation
{%- endblock -%}

{%- block sidebar -%}
<h4>Quick Start</h4>
<ul class="nav bs-sidenav">
    <li><a href="#requirements">Requirements</a></li>
    <li><a href="#installation">Installation</a></li>
</ul>

<h4>Serializers</h4>
<ul class="nav bs-sidenav">
    <li><a href="">JSON</a></li>
    <li><a href="">XML</a></li>
</ul>

<h4>API Transformers</h4>
<ul class="nav bs-sidenav">
    <li><a href="">HAL+JSON</a></li>
    <li><a href="">JSON API 1.0</a></li>
    <li><a href="">JSON</a></li>
    <li><a href="">JSend</a></li>
</ul>

<h4>Other Transformers</h4>
<ul class="nav bs-sidenav">
    <li><a href="">Object to Array</a></li>
    <li><a href="">Object to Flat Array</a></li>
    <li><a href="">Object to XML</a></li>
    <li><a href="">Object to JSON</a></li>
    <li><a href="">Object to YAML</a></li>
</ul>

{%- endblock -%}