<h4>Quick Start</h4>
<ul class="nav bs-sidenav">
    <li><a href="/docs#introduction">Introduction</a></li>
    <li><a href="/docs#features">Features</a></li>
    <li><a href="/docs#requirements">Requirements</a></li>
    <li><a href="/docs#installation">Installation</a></li>
</ul>

<h4>Serializers</h4>
<ul class="nav bs-sidenav">
    <li><a href="/docs/serializers#json">JSON</a></li>
    <li><a href="/docs/serializers#xml">XML</a></li>
    <li><a href="/docs/serializers#yaml">YAML</a></li>
</ul>

<h4>API Transformers</h4>
<ul class="nav bs-sidenav">
    <li><a href="/docs/api/hal-json">HAL+JSON</a></li>
    <li><a href="/docs/api/json-api-v1">JSON API 1.0</a></li>
    <li><a href="/docs/api/json">JSON</a></li>
    <li><a href="/docs/api/jsend">JSend</a></li>
</ul>

<h4>Object Transformers</h4>
<ul class="nav bs-sidenav">
    <li><a href="/docs/transformers/array">Object to Array</a></li>
    <li><a href="/docs/transformers/flat-array">Object to Flat Array</a></li>
    <li><a href="/docs/transformers/xml">Object to XML</a></li>
    <li><a href="/docs/transformers/json">Object to JSON</a></li>
    <li><a href="/docs/transformers/yaml">Object to YAML</a></li>
</ul>