{% from 'components/tabs/paneled_tabs/paneled_tabs' import paneled_tabs as paneled_tabs %}

<h3>JSON Serializer</h3>
<p>In order to generate a serializable output using JSON the JSON Strategy must be passed in to the Serializer class.</p>

<pre><code class="php">{% include 'pages/serializers/code/json' %}</code></pre>

<p>Data is always outputted with the less amount of characters possible.</p>

<p>For the sake of comprehension and examination, we provide the original raw output and a formatted version for you to examine:</p>
<br>
{% set raw_json %}<pre><code class="json">{% include 'pages/serializers/output/json' %}</code></pre>{% endset %}
{% set formatted_json %}<pre><code class="json">{% include 'pages/serializers/output/json_formatted' %}</code></pre>{% endset %}

{{
paneled_tabs(
    {
        "raw_json" : "Raw Output",
        "formatted_json" : "Formatted Output"
    },
    {
        "raw_json" : raw_json,
        "formatted_json": formatted_json
    },
    "raw_json",
    ""
    )
}}
